<!-- src/templates/create_user.hbs -->
<form>
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="password" name="pwd">
  <button id="save-user">Save User</button>
</form>